---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
---

<body class="bg-[var(--greendark)] text-[var(--offwhite)]"> </body>

<MainLayout title=" Titel">
  <!-- Form start-->
  <h1 class="text-5xl text-center font-bold pt-20 pb-[30px]">REGISTRER DIT BIDRAG</h1>
  <p class="text-l text-center font-medium py-4">ER DU I TVIVL OM HVORDAN MAN RYDDER OP I SIT DIGITALE ROD?</p>
  <div class="flex justify-center pb-10">
    <Button variant="primary" size="small">TRYK HER</Button>
  </div>

  <section id="registrer" class="max-w-2xl mx-auto p-2 pb-52">
    <form class="space-y-4 grid grid-cols-1 gap-6 border-2 border-[var(--offwhite)] py-10 px-20 rounded-md">
      <div class="text-[var(--orange)]">
        <div class="grid pb-10">
          <label class="pb-1.5" for="navn">NAVN</label>
          <input class="bg-[#242C18] border-2 border-[var(--offwhite)] rounded-md placeholder-olivengreen" type="text" id="navn" name="navn" placeholder="Navn" />
        </div>

        <div class="grid pb-10">
          <label class="pb-1.5" for="adresse">EFTERNAVN</label>
          <input class="bg-[#242C18] border-2 border-[var(--offwhite)] rounded-md" type="text" id="efternavn" name="efternavn" placeholder="Efternavn" />
        </div>

        <div class="grid pb-10">
          <label class="pb-1.5" for="e-mail">E-MAIL</label>
          <input class="bg-[#242C18] border-2 border-[var(--offwhite)] rounded-md" class="bg-[#242C18] border-2 border-[var(--offwhite)]" type="text" id="e-mail" name="e-mail" placeholder="E-mail addresse" />
        </div>

        <div class="grid pb-10">
          <label class="pb-1.5" for="Land">LAND</label>
          <input class="bg-[#242C18] border-2 border-[var(--offwhite)] rounded-md" type="text" id="land" name="land" placeholder="Land" />
        </div>

        <div class="grid pb-10">
          <label class="pb-1.5" for="data">MÆNGDE AF SLETTET DATA</label>
          <input class="bg-[#242C18] border-2 border-[var(--offwhite)] rounded-md" type="number" id="data" name="data" placeholder="0" />
        </div>

        <div class="pb-10 text-[var(--offwhite)] text-xs">
          <input type="checkbox" id="nyhedsbrev" name="nyhedsbrev" />
          <label for="nyhedsbrev">* Jeg er enig med <span class="italic">Lets Do It, World Terms and Conditions</span></label>
        </div>

        <div class="text-[var(--offwhite)] text-xs">
          <input type="checkbox" id="nyhedsbrev" name="nyhedsbrev" />
          <label for="nyhedsbrev">Jeg vil gerne tilmelde mig nyheder fra World Cleanup Day </label>
        </div>

        <div class="flex justify-center pt-10">
          <Button variant="primary" size="small">DEL DINE RESULTATER HER</Button>
        </div>
      </div>
    </form>
    <!-- Form slut -->
  </section>
</MainLayout>
