---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
---

<body class="bg-[#242C18] text-[#F0EFE3]"> </body>
<MainLayout title=" Titel">
  <!-- Form start-->
  <h1 class="text-5xl font-bold">REGISTRER DIT BIDRAG</h1>
  <section id="registrer" class="max-w-lg mx-auto mt-32 p-4">
    <form class="space-y-4 grid grid-cols-1 gap-6">
      <div class="">
        <div class="grid pb-5">
          <label for="navn">NAVN</label>
          <input type="text" id="navn" name="navn" placeholder="?" />
        </div>

        <div class="grid pb-5">
          <label for="adresse">EFTERNAVN</label>
          <input type="text" id="efternavn" name="efternavn" placeholder="?" />
        </div>

        <div class="grid pb-5">
          <label for="e-mail">E-MAIL</label>
          <input type="text" id="e-mail" name="e-mail" placeholder="?" />
        </div>

        <div class="grid pb-5">
          <label for="Land">LAND</label>
          <input type="text" id="land" name="land" placeholder="?" />
        </div>

        <div class="grid pb-5">
          <label for="organisation">Organisation</label>
          <input type="text" id="organisation" name="organisation" placeholder="?" />
        </div>

        <div class="grid pb-5">
          <label for="deltagere">Deltagere</label>
          <input type="text" id="deltagere" name="deltagere" placeholder="?" />
        </div>

        <div class="grid pb-10">
          <label for="data">Mængde af data slettet</label>
          <input type="text" id="data" name="data" placeholder="?" />
        </div>

        <div class="pb-10">
          <input type="checkbox" id="nyhedsbrev" name="nyhedsbrev" />
          <label for="nyhedsbrev">* Jeg er enig med Lets Do It, World Terms and Conditions</label>
        </div>

        <div class="">
          <input type="checkbox" id="nyhedsbrev" name="nyhedsbrev" />
          <label for="nyhedsbrev">Jeg vil gerne tilmelde mig nyheder fra World Cleanup Day </label>
        </div>

        <div class="flex justify-center pt-20">
          <Button variant="primary" size="medium">DEL DINE RESULTATER HER</Button>
        </div>
      </div>
    </form>
    <!-- Form slut -->
  </section>
</MainLayout>
