---
// Henter parametrene fra Astro.props
const { svg="" } = Astro.props; 
---
<article class="flex flex-col items-center h-full  w-44">
    
    <img class="mb-6" src={svg} alt="">
    <p><slot /></p>
    
</article>

<style>
    p{
        color: var(--greendark);
        font-size: x-large;
    }
</style>
