---

---

<section id="footer" class="grid lg:grid-cols-3 bg-[var(--olivengreen)]">
  <div class="">
    <p>hej</p>
  </div>
  <div>
    <p>hej</p>
  </div>
  <div>
    <p>hej</p>
  </div>
</section>

<style>
  p {
    color: var(--orange);
  }
</style>

<!-- <section id="hero" class="grid lg:grid-cols-2">
  <div class="bg-[var(--greendark)] lg:p-20">
    <h1 class="text-[var(--offwhite)] text-8xl lg:text-9xl font-bold">DIGITAL CLEANUP DAY</h1>
    <div class="flex justify-end"><Button variant="primary" size="small">Del Dine Resultater Her</Button></div>
  </div>
  <div class="bg-[var(--greendark)] lg:bg-[var(--offwhite)] flex justify-center items-center"><img class="w-full h-96" src="logo_lg.svg" alt="logo" /></div>
</section> -->
