---

---

<section id="footer" class="grid grid-cols-1 lg:grid-cols-3 bg-[var(--olivengreen)] relative">
  <div class="relative">
    <!-- Tekst med padding der tilpasses på mobil og desktop -->
    <div class="text-4xl text-[var(--offwhite)] px-6 pt-8 lg:px-40 lg:pt-16 z-10 relative pb-10">
      <a href="/">DIGITAL <br />CLEANUP <br />DAY</a>
    </div>
    <!-- Billedet er skjult på mobil og vises kun på større skærme -->
    <img class="hidden lg:block lg:w-[680px] w-full h-auto lg:absolute lg:bottom-0 lg:left-0 lg:mt-[-20px] z-0" src="form_footer.svg" alt="Footer background image" />
  </div>

  <!-- Kontaktinformation med reduceret padding på mobil -->
  <div class="pt-8 pl-6 lg:pt-16 lg:pl-28">
    <p class="text-[var(--orange)] pb-4 text-bold text-xl">LETS DO IT WORLD NGO</p>
    <p class="text-[var(--greendark)]">
      Roosikrantsi 3, TALLINN 10119, Estonia <br />
      Reg. code - 80562203 <br />
      Digital@ldiw.org
    </p>
  </div>

  <!-- Links med reduceret padding på mobil -->
  <div class="pt-8 pl-6 lg:pt-16 lg:pl-32">
    <ul class="underline text-[var(--greendark)] leading-loose">
      <li><a href="https://www.worldcleanupday.org/blog/">Blog</a></li>
      <li><a href="https://trello.com/b/YzROvY3M/digital-cleanup-day">Marketing materials</a></li>
      <li><a href="https://drive.google.com/file/d/1a0sgGo1n8edioZ4Itm6DNqTPlmKWGfTj/view">Constitution</a></li>
      <li><a href="https://www.worldcleanupday.org/get-involved">Join the movement</a></li>
    </ul>
  </div>
</section>
