---

---

<section id="footer" class="grid lg:grid-cols-3 bg-[var(--olivengreen)]">
  <div class="reletive">
    <div class="absolute text-3xl">
      <a href="/">DIGITAL <br />CLEANUP <br />DAY</a>
    </div>
    <img class="lg:w-[680px] w-0 h-auto -mt-16" src="form_footer.svg" alt="" />
  </div>
  <div>
    <p class="text-[var(--orange)]">LET’S DO IT WORLD NGO</p>
    <p>Roosikrantsi 3, TALLINN 10119, Estonia <br />Reg. code - 80562203 <br />digital@ldiw.org</p>
  </div>
  <div>
    <ul class="underline">
      <li><a href="https://www.worldcleanupday.org/blog/">Blog</a></li>
      <li><a href="https://trello.com/b/YzROvY3M/digital-cleanup-day">Marketing materials</a></li>
      <li><a href="https://drive.google.com/file/d/1a0sgGo1n8edioZ4Itm6DNqTPlmKWGfTj/view">Constitution</a></li>
      <li><a href="https://www.worldcleanupday.org/get-involved">Join the movement</a></li>
    </ul>
  </div>
</section>

<!-- <style>
  p {
    color: var(--orange);
  }
</style> -->

<!-- <section id="hero" class="grid lg:grid-cols-2">
  <div class="bg-[var(--greendark)] lg:p-20">
    <h1 class="text-[var(--offwhite)] text-8xl lg:text-9xl font-bold">DIGITAL CLEANUP DAY</h1>
    <div class="flex justify-end"><Button variant="primary" size="small">Del Dine Resultater Her</Button></div>
  </div>
  <div class="bg-[var(--greendark)] lg:bg-[var(--offwhite)] flex justify-center items-center"><img class="w-full h-96" src="logo_lg.svg" alt="logo" /></div>
</section> -->
