---
import Link from "../components/Link.astro";
---

<div>
  <div x-data="{ showmenu: false }" class="fixed lg:static w-full">
    <div id="navbar" class="flex flex-row justify-between">
      <div id="logo" class="text-l">
        <a href="/">DIGITAL <br />CLEANUP <br />DAY</a>
      </div>
      <nav id="desktopmenu" class="hidden lg:block">
        <ul class="flex flex-row gap-12 text-l pt-4">
          <li class=""><Link href="#">OM DCD</Link></li><!-- alternativt: lav et <a href="">Link</a>, hvis vi ikke vil bruge Link.astro komponenten -->
          <li class=""><Link href="#">HVORFOR</Link></li>
          <li class=""><Link href="#">HVORDAN</Link></li>
          <li class=""><Link href="#">VIDSTE DU?</Link></li>
          <li class=""><Link href="/registrer">DELTAG</Link></li>
        </ul>
      </nav>
      <button id="burgermenu" class="lg:hidden" x-on:click="showmenu = ! showmenu">Menu</button>
    </div>
    <nav id="mobilmenu" class="flex flex-col content-center pt-4" x-show="showmenu" x-transition x-on:click="showmenu = false" x-on:click.outside="showmenu = false">
      <ul>
        <li class="text-center py-2 border-y-2"><Link href="/">OM DCD</Link></li>
        <li class="text-center py-2 border-b-2"><Link href="#">HVORFOR</Link></li>
        <li class="text-center py-2 border-b-2"><Link href="#">HVORDAN</Link></li>
        <li class="text-center py-2 border-b-2"><Link href="#">VIDSTE DU?</Link></li>
        <li class="text-center py-2 border-b-2"><Link href="/registrer">DELTAG</Link></li>
      </ul>
    </nav>
  </div>
</div>
